<link rel="stylesheet" href="/styles.css" type="text/css" />

<header>
	<h1>How to Make a Quadrocopter</h1>
	<a href="page1">Page1</a>
	<a href="page2">Page2</a>
	<a href="page3">Page3</a>
	<a href="page4">Page4</a>
</header>

<%= yield %>

<footer>
	<p>By Nate, Dan, Alex</p>
</footer>
