<link rel="stylesheet" href="/styles.css" type="text/css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<header>
	<h1>How to Make a Quadrocopter</h1>
	<a href="/">Home</a>
	<a href="math">math</a>
	<a href="hardware">hardware</a>
	<% @docs.each do |cat| %>

	<% end %>
</header>

<%= yield %>

<footer>
	<p>By Nate, Dan, Alex</p>
	<a href="mathjax">MathJAX</a>
</footer>
